[data-champion] { 
    width: 48px;    
    height: 48px;
    background-size: 480px 288px;
}

[data-sheet="0"] { background-image: url('/static/img/champion0.png'); }
[data-sheet="1"] { background-image: url('/static/img/champion1.png'); }
[data-sheet="2"] { background-image: url('/static/img/champion2.png'); }

[data-champion="MissingNo"]    { background-image: url('/static/img/rocket.png'); background-size: contain; }
[data-champion="Annie"]        { background-position: 0px 0px; }
[data-champion="Kayle"]        { background-position: -48px 0px; }
[data-champion="Xerath"]       { background-position: -96px 0px; }
[data-champion="Shyvana"]      { background-position: -144px 0px; }
[data-champion="Ahri"]         { background-position: -192px 0px; }
[data-champion="Graves"]       { background-position: -240px 0px; }
[data-champion="Fizz"]         { background-position: -288px 0px; }
[data-champion="Volibear"]     { background-position: -336px 0px; }
[data-champion="Rengar"]       { background-position: -384px 0px; }
[data-champion="Maitre Yi"]    { background-position: -432px 0px; }
[data-champion="Varus"]        { background-position: 0px -48px; }
[data-champion="Nautilus"]     { background-position: -48px -48px; }
[data-champion="Victor"]       { background-position: -96px -48px; }
[data-champion="Sejuani"]      { background-position: -144px -48px; }
[data-champion="Fiora"]        { background-position: -192px -48px; }
[data-champion="Ziggs"]        { background-position: -240px -48px; }
[data-champion="Lulu"]         { background-position: -288px -48px; }
[data-champion="Draven"]       { background-position: -336px -48px; }
[data-champion="Alistar"]      { background-position: -384px -48px; }
[data-champion="Hecarim"]      { background-position: -432px -48px; }
[data-champion="Kha Zix"]      { background-position: 0px -96px; }
[data-champion="Darius"]       { background-position: -48px -96px; }
[data-champion="Jayce"]        { background-position: -96px -96px; }
[data-champion="Lissandra"]    { background-position: -144px -96px; }
[data-champion="Ryze"]         { background-position: -192px -96px; }
[data-champion="Diana"]        { background-position: -240px -96px; }
[data-champion="Quinn"]        { background-position: -288px -96px; }
[data-champion="Syndra"]       { background-position: -336px -96px; }
[data-champion="Aurelion Sol"] { background-position: -384px -96px; }
[data-champion="Sion"]         { background-position: -432px -96px; }
[data-champion="Kayn"]         { background-position: 0px -144px; }
[data-champion="Zoé"]          { background-position: -48px -144px; }
[data-champion="Zyra"]         { background-position: -96px -144px; }
[data-champion="Kai Sa"]       { background-position: -144px -144px; }
[data-champion="Séraphine"]    { background-position: -192px -144px; }
[data-champion="Sivir"]        { background-position: -240px -144px; }
[data-champion="Gnar"]         { background-position: -288px -144px; }
[data-champion="Zac"]          { background-position: -336px -144px; }
[data-champion="Yasuo"]        { background-position: -384px -144px; }
[data-champion="Soraka"]       { background-position: -432px -144px; }
[data-champion="Vel Khoz"]     { background-position: 0px -192px; }
[data-champion="Taliyah"]      { background-position: -48px -192px; }
[data-champion="Camille"]      { background-position: -96px -192px; }
[data-champion="Akshan"]       { background-position: -144px -192px; }
[data-champion="Teemo"]        { background-position: -192px -192px; }
[data-champion="Tristana"]     { background-position: -240px -192px; }
[data-champion="Warwick"]      { background-position: -288px -192px; }
[data-champion="Olaf"]         { background-position: -336px -192px; }
[data-champion="Nunu & Willump"] { background-position: -384px -192px; }
[data-champion="BelVeth"]      { background-position: -432px -192px; }
[data-champion="Braum"]        { background-position: 0px -240px; }
[data-champion="Jhin"]         { background-position: -48px -240px; }
[data-champion="Kindred"]      { background-position: -96px -240px; }
[data-champion="Miss Fortune"] { background-position: -144px -240px; }
[data-champion="Ashe"]         { background-position: -192px -240px; }
[data-champion="Zeri"]         { background-position: -240px -240px; }
[data-champion="Jinx"]         { background-position: -288px -240px; }
[data-champion="Tahm Kench"]   { background-position: -336px -240px; }
[data-champion="Tryndamere"]   { background-position: -384px -240px; }
[data-champion="Briar"]        { background-position: -432px -240px; }

[data-champion="Viego"]         { background-position: 0px 0px; }
[data-champion="Senna"]         { background-position: -48px 0px; }
[data-champion="Lucian"]        { background-position: -96px 0px; }
[data-champion="Zed"]           { background-position: -144px 0px; }
[data-champion="Jax"]           { background-position: -192px 0px; }
[data-champion="Kled"]          { background-position: -240px 0px; }
[data-champion="Ekko"]          { background-position: -288px 0px; }
[data-champion="Qiyana"]        { background-position: -336px 0px; }
[data-champion="Morgana"]       { background-position: -384px 0px; }
[data-champion="Vi"]            { background-position: -432px 0px; }
[data-champion="Zilean"]        { background-position: 0px -48px; }
[data-champion="Aatrox"]        { background-position: -48px -48px; }
[data-champion="Nami"]          { background-position: -96px -48px; }
[data-champion="Azir"]          { background-position: -144px -48px; }
[data-champion="Singed"]        { background-position: -192px -48px; }
[data-champion="Evelynn"]       { background-position: -240px -48px; }
[data-champion="Twitch"]        { background-position: -288px -48px; }
[data-champion="Galio"]         { background-position: -336px -48px; }
[data-champion="Karthus"]       { background-position: -384px -48px; }
[data-champion="Cho Gath"]      { background-position: -432px -48px; }
[data-champion="Amumu"]         { background-position: 0px -96px; }
[data-champion="Rammus"]        { background-position: -48px -96px; }
[data-champion="Anivia"]        { background-position: -96px -96px; }
[data-champion="Shaco"]         { background-position: -144px -96px; }
[data-champion="Yuumi"]         { background-position: -192px -96px; }
[data-champion="Dr Mundo"]      { background-position: -240px -96px; }
[data-champion="Samira"]        { background-position: -288px -96px; }
[data-champion="Sona"]          { background-position: -336px -96px; }
[data-champion="Kassadin"]      { background-position: -384px -96px; }
[data-champion="Irelia"]        { background-position: -432px -96px; }
[data-champion="Twisted Fate"]  { background-position: 0px -144px; }
[data-champion="Janna"]         { background-position: -48px -144px; }
[data-champion="Gangplank"]     { background-position: -96px -144px; }
[data-champion="Tresh"]         { background-position: -144px -144px; }
[data-champion="Corki"]         { background-position: -192px -144px; }
[data-champion="Illaoi"]        { background-position: -240px -144px; }
[data-champion="Rek Sai"]       { background-position: -288px -144px; }
[data-champion="Ivern"]         { background-position: -336px -144px; }
[data-champion="Kalista"]       { background-position: -384px -144px; }
[data-champion="Karma"]         { background-position: -432px -144px; }
[data-champion="Bard"]          { background-position: 0px -192px; }
[data-champion="Taric"]         { background-position: -48px -192px; }
[data-champion="Veigar"]        { background-position: -96px -192px; }
[data-champion="Trundle"]       { background-position: -144px -192px; }
[data-champion="Rakan"]         { background-position: -192px -192px; }
[data-champion="Xayah"]         { background-position: -240px -192px; }
[data-champion="Xin Zhao"]      { background-position: -288px -192px; }
[data-champion="Swain"]         { background-position: -336px -192px; }
[data-champion="Caitlyn"]       { background-position: -384px -192px; }
[data-champion="Ornn"]          { background-position: -432px -192px; }
[data-champion="Sylas"]         { background-position: 0px -240px; }
[data-champion="Neeko"]         { background-position: -48px -240px; }
[data-champion="Aphelios"]      { background-position: -96px -240px; }
[data-champion="Rell"]          { background-position: -144px -240px; }
[data-champion="Blitzcrank"]    { background-position: -192px -240px; }
[data-champion="Malphite"]      { background-position: -240px -240px; }
[data-champion="Katarina"]      { background-position: -288px -240px; }
[data-champion="Pyke"]          { background-position: -336px -240px; }
[data-champion="Nocturne"]      { background-position: -384px -240px; }
[data-champion="Maokai"]        { background-position: -432px -240px; }

[data-champion="Renekton"]      { background-position: 0px 0px; }
[data-champion="Jarvan"]        { background-position: -48px 0px; }
[data-champion="Urgot"]         { background-position: -96px 0px; }
[data-champion="Elise"]         { background-position: -144px 0px; }
[data-champion="Orianna"]       { background-position: -192px 0px; }
[data-champion="Wukong"]        { background-position: -240px 0px; }
[data-champion="Brand"]         { background-position: -288px 0px; }
[data-champion="Lee Sin"]       { background-position: -336px 0px; }
[data-champion="Vayne"]         { background-position: -384px 0px; }
[data-champion="Rumble"]        { background-position: -432px 0px; }
[data-champion="Cassiopea"]     { background-position: 0px -48px; }
[data-champion="Le Blanc"]      { background-position: -48px -48px; }
[data-champion="Vex"]           { background-position: -96px -48px; }
[data-champion="Skarner"]       { background-position: -144px -48px; }
[data-champion="Heimerdinger"]  { background-position: -192px -48px; }
[data-champion="Nasus"]         { background-position: -240px -48px; }
[data-champion="Nidalee"]       { background-position: -288px -48px; }
[data-champion="Udyr"]          { background-position: -336px -48px; }
[data-champion="Yone"]          { background-position: -384px -48px; }
[data-champion="Poppy"]         { background-position: -432px -48px; }
[data-champion="Gragas"]        { background-position: 0px -96px; }
[data-champion="Ambessa"]       { background-position: -48px -96px; }
[data-champion="Vladimir"]      { background-position: -96px -96px; }
[data-champion="Pantheon"]      { background-position: -144px -96px; }
[data-champion="Mel"]           { background-position: -192px -96px; }
[data-champion="Ezreal"]        { background-position: -240px -96px; }
[data-champion="Mordekaiser"]   { background-position: -288px -96px; }
[data-champion="Yorick"]        { background-position: -336px -96px; }
[data-champion="Akali"]         { background-position: -384px -96px; }
[data-champion="Kennen"]        { background-position: -432px -96px; }
[data-champion="Garen"]         { background-position: 0px -144px; }
[data-champion="Sett"]          { background-position: -48px -144px; }
[data-champion="Lilia"]         { background-position: -96px -144px; }
[data-champion="Gwen"]          { background-position: -144px -144px; }
[data-champion="Renata Glasc"]  { background-position: -192px -144px; }
[data-champion="Leano"]         { background-position: -240px -144px; }
[data-champion="Aurora"]        { background-position: -288px -144px; }
[data-champion="Nilah"]         { background-position: -336px -144px; }
[data-champion="Ksante"]        { background-position: -384px -144px; }
[data-champion="Fiddlesticks"]  { background-position: -432px -144px; }
[data-champion="Malzahar"]      { background-position: 0px -192px; }
[data-champion="Smolder"]       { background-position: -48px -192px; }
[data-champion="Milio"]         { background-position: -96px -192px; }
[data-champion="Talon"]         { background-position: -144px -192px; }
[data-champion="Hwei"]          { background-position: -192px -192px; }
[data-champion="Riven"]         { background-position: -240px -192px; }
[data-champion="Naafiri"]       { background-position: -288px -192px; }
[data-champion="Kog Maw"]       { background-position: -336px -192px; }
[data-champion="Shen"]          { background-position: -384px -192px; }
[data-champion="Lux"]           { background-position: -432px -192px; }