@import url("gold.css") layer(gold);
@import url("champions.css") layer(champions);

@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Skranji:wght@400;700&display=swap');

:root {
    --bibi-black: #101111;
    --bibi-grey: #353535;
    --blue-text: #A2C5C5;
    --blue-bg: #132532;
    --blue-down: #00618D;
    --blue-up: #06D9C8;
    --yellow-border: #FFDE6B;
    --green-blue: #072C25;
    --green-green: #204A36;
    --green-but-a-bit-less-green: #2E4E3B;
    --somehow-also-green: #316140;
    --and-a-red-touch: #b72424;
}

body {
    font-family: 'Quintessential';
    background: var(--bibi-black);
    color: var(--blue-text);
    min-height: 100dvh;
}


h1, p {
    font-weight: bold;
    background: var(--blue-bg);
}

h1, #instructions {
    font-family: 'Skranji';
    width: 100%;
    text-align: center;
}

p {
    background: none;
    font-family: 'Quintessential';
}

#instructions.blue-instruction {
    background: var(--blue-down);
}

#instructions.red-instruction {
    background: var(--and-a-red-touch);
}

button {
    background: var(--blue-bg);
    outline: 1px solid var(--bibi-grey);
    cursor: pointer;
    width: 12rem;
    transition: all .1s linear;
    a {text-decoration: none;}
}

button:hover {
transform: translateY(-1px);
    filter: brightness(1.05);
}

article .ratio {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .2rem;
    width: 100%;
    .blue-ratio, button:first-child {background: var(--blue-down)};
    .red-ratio, button:last-child {background: var(--and-a-red-touch)};
    div {display: flex; position: relative;}
    button {
        width: 5rem;
        border: none;
    }
}

.blue-ratio, .red-ratio {
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
}

article .picks, .ban-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr repeat(5, 1fr);
    align-items: center;
    gap: 0.5rem;
    img {
        width: 2rem;
        background: var(--yellow-border);
    }
}

.bans {
    filter: grayscale(1);
}

#wrapper {
    display: grid;
    height: 80dvh;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#blue-side, #red-side {
    display: grid;
    grid-template-rows: auto repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 0rem 2rem;
    height: 100%;
    width: 10rem;
    border-radius: .2rem;
    outline: 1px solid var(--bibi-grey);
    .bans {
        filter: grayscale(1);
    }
}

.draft-header {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
}

.blue-header {
    color: var(--blue-down);
}

.red-header {
    color: var(--and-a-red-touch);
}

#blue-side [data-champion] {
    outline: 2px solid var(--blue-down);
}
#red-side [data-champion] {
    outline: 2px solid var(--and-a-red-touch);
}

#picker {
    align-self: start;
    display: grid;
    grid-template-rows: 1rem 1fr;
    gap: .5rem;
    align-items: start;
}

#roles {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1fr 10rem;
    gap: .1rem;
}

#roles input {
    color: var(--blue-text);
    font-size: .6rem;
    padding-inline: .4rem;
    border-radius: .5rem;
}

#roles img {
    height: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}

#roles [role="tooltip"] {
    translate: 0% -100%
}

[selected] {
    filter: drop-shadow(0px 0px 4px var(--and-a-red-touch));
}
#roles img:hover:not([selected]) {
    filter: drop-shadow(0px 0px 4px var(--blue-down));
}

#legends {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    max-height: 70dvh;
    width: max-content;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
    scrollbar-gutter: stable;
    div:not([banned]) {
        cursor: pointer;
        &:hover {filter: drop-shadow(2px 2px 4px var(--yellow-border))}
    }
}

#legends::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
#legends::-webkit-scrollbar-thumb {
    background: currentColor;
    border-radius: 4px;
}
#legends::-webkit-scrollbar-track {
    background: transparent;
}
#legends::-webkit-scrollbar-corner {
    background: transparent;
}

[banned] {
    cursor: not-allowed;
    filter: sepia(1);
}

[role="tooltip"] {
    font-size: 60%;
    font-weight: bold;
    visibility: hidden;
    place-self: anchor-center;
    background: var(--blue-bg);
    border: 2px solid var(--blue-text);
    border-radius: 2rem;
    padding-inline: .2rem;
    filter: drop-shadow(0px 0px 2px var(--blue-bg));
    width: max-content;
    opacity: .8;
    pointer-events: none;
}
[aria-describedby]:hover > [role="tooltip"] {
    visibility: visible;
}

.alert {
    background: var(--blue-down);
    filter: drop-shadow(2px 2px 4px black);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
    0% {
    border-color: var(--yellow-border) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
    border-color: var(--yellow-border) var(--yellow-border) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
    border-color: var(--yellow-border) var(--yellow-border) var(--yellow-border) rgba(255, 255, 255, 0);
    }
    100% {
    border-color: var(--yellow-border) var(--yellow-border) var(--yellow-border) var(--yellow-border);
    }
} 